<div id="messages"></div>

 <form>
  First name:<br>
  <input type="text" name="username" id=usr><br>
  Last name:<br>
  <input id =password type="text" name=password >
</form> 
<button id="register">Sign up!</button>
<button id ="login"> login</button>
</br>
<button id ="addTweet"> AddTweet</button>
<input id =addTweetText type="text" ></input>